In [1]:
empty_list = []

In [2]:
empty_list

[]

In [3]:
list_str = ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

list_str

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [4]:
type(list_str)

list

In [5]:
list_int = [5, 7, 8, 9, 20, 40]

list_int

[5, 7, 8, 9, 20, 40]

In [6]:
list_float = [5.5, 7.8, 8.5, 9.2, 20.3, 40.6]

list_float

[5.5, 7.8, 8.5, 9.2, 20.3, 40.6]

In [7]:
list_bool = [True, False]

list_bool

[True, False]

In [8]:
mixed_list = ['Nissan Sentra', 1, 2.5, True]

mixed_list

['Nissan Sentra', 1, 2.5, True]

In [9]:
cars_list = ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [10]:
print(cars_list[0])

Toyota Camry

In [11]:
print(cars_list[1])

print(cars_list[2])

print(cars_list[3])

Honda Accord
Honda Civic
Toyota Corolla

In [12]:
print(cars_list[4])

IndexError: list index out of range

In [13]:
len(cars_list)

4

In [14]:
print("car at index 2: ", cars_list[2])

car at index 2:  Honda Civic

In [15]:
print(cars_list[3])

Toyota Corolla

In [16]:
print(cars_list[1, 2])

TypeError: list indices must be integers or slices, not tuple

In [17]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [18]:
print(cars_list[-1])

Toyota Corolla

In [19]:
print(cars_list[-2])

print(cars_list[-3])

print(cars_list[-4])

Honda Civic
Honda Accord
Toyota Camry

In [20]:
print(cars_list[-5])

IndexError: list index out of range

In [21]:
cars_list[-2]

'Honda Civic'

In [22]:
len(cars_list)

4

In [23]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [24]:
cars_list[3] = 'Nissan Sentra'

print("New car at index 3 is: ", cars_list[3])

cars_list

New car at index 3 is:  Nissan Sentra

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Nissan Sentra']

In [25]:
cars_list[2] = 'Hyundai Elantra'

cars_list

['Toyota Camry', 'Honda Accord', 'Hyundai Elantra', 'Nissan Sentra']