In [14]:
#from pymongo import MongoClient
from pymongo import *;
from bson import *;
import pprint

mc = MongoClient()
t = mc.test  # database name
c = t.users  # collection name
pprint.pprint(c.find_one())

{'_id': ObjectId('5fb88cbd0c7cf777cbe41dda'),
 'age': 24.0,
 'name': 'vignesh',
 'status': 'approved'}

In [15]:
# CRUD Operation
#Create
'''c.insert_one({'_id': 1000, 'name': {'first': 'muthu', 'last': 'velan'}})
c.insert_one({'_id': 1001, 'name': {'first': 'muthu', 'last': 'kumar'}})
c.insert_one({'_id': 1002, 'name': {'first': 'venkata', 'last': 'raman'}}) '''

"c.insert_one({'_id': 1000, 'name': {'first': 'muthu', 'last': 'velan'}})\nc.insert_one({'_id': 1001, 'name': {'first': 'muthu', 'last': 'kumar'}})\nc.insert_one({'_id': 1002, 'name': {'first': 'venkata', 'last': 'raman'}}) "

In [16]:
#Read
pprint.pprint(c.find())

<pymongo.cursor.Cursor object at 0x7ff8d3134e20>

In [17]:
#Update
'''c.replace_one({'_id':1000},{'name':{'first':'muthu','last':'velan'}})'''

"c.replace_one({'_id':1000},{'name':{'first':'muthu','last':'velan'}})"

In [18]:
#Delete
'''c.delete_one({'_id':1000})'''

"c.delete_one({'_id':1000})"

In [19]:
# to print all the data in db using loop
for foundDoc in c.find():
    pprint.pprint(foundDoc)

{'_id': ObjectId('5fb88cbd0c7cf777cbe41dda'),
 'age': 24.0,
 'name': 'vignesh',
 'status': 'approved'}
{'_id': 1000, 'name': {'first': 'muthu', 'last': 'velan'}}
{'_id': 1001, 'name': {'first': 'muthu', 'last': 'kumar'}}
{'_id': 1002, 'name': {'first': 'venkata', 'last': 'raman'}}

In [20]:
pprint.pprint(c.find_one({'_id': ObjectId('5fb88cbd0c7cf777cbe41dda')}))

{'_id': ObjectId('5fb88cbd0c7cf777cbe41dda'),
 'age': 24.0,
 'name': 'vignesh',
 'status': 'approved'}

In [25]:
#creating index
c.create_index([('name.first',ASCENDING),
('name.last',DESCENDING)],
name = "myIndex")
for doc in c.find().hint('myIndex'):
    pprint.pprint(doc)

{'_id': ObjectId('5fb88cbd0c7cf777cbe41dda'),
 'age': 24.0,
 'name': 'vignesh',
 'status': 'approved'}
{'_id': 1000, 'name': {'first': 'muthu', 'last': 'velan'}}
{'_id': 1001, 'name': {'first': 'muthu', 'last': 'kumar'}}
{'_id': 1002, 'name': {'first': 'venkata', 'last': 'raman'}}

In [ ]:
#drop index
'''c.drop_index('myIndex')'''